<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트위터 감정 분석</title>
    <style>
        body {
            background-image: url('../static/twitter.jpg');
            background-size: cover; /* 배경 이미지가 화면을 덮도록 설정 */
            color: white;
            text-align: center;
        }
        textarea {
            width: 400px;
            height: 150px;
        }
    </style>
</head>
<body>
    <h1>트위터 감정 분석</h1>
    <form action="/upload" method="post">
        <textarea name="tweet" placeholder="트위터 문장을 입력하세요"></textarea><br>
        <input type="submit" value="분석하기">
    </form>
    
</body>
</html>
